main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display {
    width: fit-content;
    font-size: 4rem;
}
.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 17% repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    column-gap: 10%;
    row-gap: 0.5rem;
}
.calculator-button {
    font-size: 8rem;
}
section > button {
    margin-top: 0.5rem;
    width: 100%;
}
